# Python virtual environments
.venv/
venv/

# Environment files
.env

# Log files
*.log
*.log.*
*.log-*
*.log_*

# macOS
.DS_Store

# Python cache
__pycache__/
*.py[cod]

# Build output
/build/
/dist/

# Application data
data/*.json

# Backup files
*.bak

# VS Code
.vscode/